# python
venv
__pycache__/
*.egg-info/

# general
.vscode
*Zone.Identifier
*.zip

# latex
*.log
*.fls
*.aux
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# dataset
sportsmot_publish/
models/
results/
TrackEval/
```	