# python
venv
__pycache__/
*.egg-info/

# general
.vscode
wandb/
dataset/
outputs/
models/
*Zone.Identifier
data/
results/
TrackEval/
outputs2/

# latex
*.log
*.fls
*.aux
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
```