# python
venv
__pycache__/
*.egg-info/

# general
.vscode
wandb/
models/
*Zone.Identifier
TrackEval/

# latex
*.log
*.fls
*.aux
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# dataset
sportsmot_publish/
```	